<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body{
            color: white;
            background-color: black;
            margin-top: -2rem;
            display: flex;
        justify-content: center;
    align-items: center;
height: 100vh;
flex-direction: column;}
    </style>
</head>
<body 
>

<form class="form" action="/upload" method="post"  enctype="multipart/form-data">
    <h1>Select Files</h1>

<input type="file" name="files" multiple>
<input onclick="alert('sent')" type="submit">


</form>

    
</body>
</html>